#main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openseadragon { 
    height: 600px; 
    width: 1000px; 
    border: solid;
    border-color: rgb(0, 0, 0);
}

.a9s-annotation.important .a9s-inner {
    stroke-width:2px;
    stroke:blue;
    fill:rgba(0,0,255,0.1);
    -webkit-filter:drop-shadow(0 0 10px rgba(0,0,255,0.8));
            filter:drop-shadow(0 0 10px rgba(0,0,255,0.8));
  }

  .a9s-annotation.important .a9s-inner:hover {
    stroke-width:6px;
    stroke:blue;
    fill:rgba(0,0,255,0.3);
  }